@* Breadcrumbs Navigation - Partial View *@

@if (Model?.Count > 0)
{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="margin-bottom: 0; background-color: transparent;">
            @for (int i = 0; i < Model.Count; i++)
            {
                var item = Model[i];
                <li class="breadcrumb-item @(i == Model.Count - 1 ? "active" : "")">
                    @if (i < Model.Count - 1)
                    {
                        <a href="@item.Url" style="text-decoration: none; color: #1E40AF;">
                            @if (!string.IsNullOrEmpty(item.Icon))
                            {
                                <i class="@item.Icon" style="margin-left: 5px;"></i>
                            }
                            @item.Title
                        </a>
                    }
                    else
                    {
                        @if (!string.IsNullOrEmpty(item.Icon))
                        {
                            <i class="@item.Icon" style="margin-left: 5px;"></i>
                        }
                        <span style="color: #666;">@item.Title</span>
                    }
                </li>
            }
        </ol>
    </nav>
}

@{
    public class BreadcrumbItem
    {
        public string Title { get; set; }
        public string Url { get; set; }
        public string Icon { get; set; }
    }
}
